/* You can add global styles to this file, and also import other style files */

/* regular style toast */
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Popover*/
/*Container Popover*/
.popover,right,popover-right,bs {
  width: 180px !important;
}
.popover-title{
  text-align: center !important;
  font-size: 14px !important;
}
.popover-body {
  padding-top: 0 !important;
}
.confirm-btn-container {
  padding: 0 !important;
}
