.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
    height: 60vh;
}
.app-btn-primary-add {
    font-size: 13px;
    padding:  0 9px 0 3px !important;
    margin-left: 3px;
}
.app-btn-primary-add span {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.app-btn-primary-back {
   padding: 3px 10px;
   margin-top: 10px;
   margin-left: 10px;
   font-size: 14px;
}